# Swift Package Manager
.build/

# Xcode
DerivedData/
*.xcodeproj
*.xcworkspace

# SwiftPM Xcode integration
.swiftpm/xcode/package.xcworkspace

# macOS
.DS_Store

# Web
web/node_modules/
web/dist/
web/.vite/

# Logs
*.log
.swiftpm/xcode/xcuserdata/tomasruizlopez.xcuserdatad/xcschemes/xcschememanagement.plist
.swiftpm/xcode/xcuserdata

# MLX Metal library
default.metallib
